:root {
  --green-200: hsl(150, 3%, 88%);
  --green-600:  rgb(94, 147, 216);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 95%);
  --grey-500: hsl(22, 38%, 36%);
 --grey-900: hsl(187, 24%, 22%);
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--green-200);
}

main {
  width: 95%;
  background-color: var(--white);
  margin: 24px 0;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

form {
  display: flex;
  flex-direction: column;
}

form > div {
  display: flex;
  flex-direction: column;
}

.div-label {
  display: flex;
  flex-direction: column;
}

.label {
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  color: var(--grey-900);
  margin-top: 12px;
}

.input {
  width: 100%;
  height: 48px;
  margin-top: 8px;
  border: 1px solid var(--grey-900);
  border-radius: 8px;
  padding: 0 8px;
  font-size: 16px;
}

.input::placeholder {
  font-size: 16px;
  color: var(--green-600);
}

#message {
  width: 100%;
  min-height: 160px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid var(--grey-900);
  padding: 8px;
  font-size: 16px;
  resize: none;
}

#term-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-top: 16px;
}

#label-term {
  font-size: 14px;
  margin-top: 0;
}

#btn {
  width: 100%;
  height: 48px;
  margin-top: 16px;
  background-color: var(--green-600);
  color: var(--white);
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  transition: .3s ease-in-out;
}

#btn:hover {
  background-color: hsl(221, 71%, 48%);
}


@media screen and (min-width: 768px) {
  form > div {
    flex-direction: row;
    justify-content: space-between;
  }

  form > div > div {
    width: 48.5%;
  }
}

@media screen and (min-width: 960px) {
  body {
    height: 100vh;
    align-items: center;
  }

  main {
    width: 45%;
  }
}